conf/TrakMan-prod.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://tempuri.org/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="TrakManWebService" targetNamespace="http://tempuri.org/">
  <wsp:Policy wsu:Id="TrakManWebServiceWs2007HttpBinding_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false"/>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256/>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Lax/>
              </wsp:Policy>
            </sp:Layout>
            <sp:IncludeTimestamp/>
          </wsp:Policy>
        </sp:TransportBinding>
        <sp:EndorsingSupportingTokens xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:X509Token sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
              <wsp:Policy>
                <sp:WssX509V3Token10/>
              </wsp:Policy>
            </sp:X509Token>
          </wsp:Policy>
        </sp:EndorsingSupportingTokens>
        <sp:Wss10 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:MustSupportRefKeyIdentifier/>
            <sp:MustSupportRefIssuerSerial/>
          </wsp:Policy>
        </sp:Wss10>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://vcp03xweb-svr.clerk.int/TrakManWebService.svc?xsd=xsd0" namespace="http://tempuri.org/"/>
      <xsd:import schemaLocation="https://vcp03xweb-svr.clerk.int/TrakManWebService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/"/>
      <xsd:import schemaLocation="https://vcp03xweb-svr.clerk.int/TrakManWebService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TrakManBusiness"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITrakManService_AddRedactedDocument_InputMessage">
    <wsdl:part name="parameters" element="tns:AddRedactedDocument"/>
  </wsdl:message>
  <wsdl:message name="ITrakManService_AddRedactedDocument_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddRedactedDocumentResponse"/>
  </wsdl:message>
  <wsdl:message name="ITrakManService_CopyDocument_InputMessage">
    <wsdl:part name="parameters" element="tns:CopyDocument"/>
  </wsdl:message>
  <wsdl:message name="ITrakManService_CopyDocument_OutputMessage">
    <wsdl:part name="parameters" element="tns:CopyDocumentResponse"/>
  </wsdl:message>
  <wsdl:message name="ITrakManService_CopyDocuments_InputMessage">
    <wsdl:part name="parameters" element="tns:CopyDocuments"/>
  </wsdl:message>
  <wsdl:message name="ITrakManService_CopyDocuments_OutputMessage">
    <wsdl:part name="parameters" element="tns:CopyDocumentsResponse"/>
  </wsdl:message>
  <wsdl:message name="ITrakManService_CreateContainerObject_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateContainerObject"/>
  </wsdl:message>
  <wsdl:message name="ITrakManService_CreateContainerObject_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateContainerObjectResponse"/>
  </wsdl:message>
  <wsdl:message name="ITrakManService_DeleteContainer_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteContainer"/>
  </wsdl:message>
  <wsdl:message name="ITrakManService_DeleteContainer_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteContainerResponse"/>
  </wsdl:message>
  <wsdl:message name="ITrakManService_DeleteDocument_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteDocument"/>
  </wsdl:message>
  <wsdl:message name="ITrakManService_DeleteDocument_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteDocumentResponse"/>
  </wsdl:message>
  <wsdl:message name="ITrakManService_DeleteRedactedDocument_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteRedactedDocument"/>
  </wsdl:message>
  <wsdl:message name="ITrakManService_DeleteRedactedDocument_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteRedactedDocumentResponse"/>
  </wsdl:message>
  <wsdl:message name="ITrakManService_DocumentInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:DocumentInfo"/>
  </wsdl:message>
  <wsdl:message name="ITrakManService_DocumentInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:DocumentInfoResponse"/>
  </wsdl:message>
  <wsdl:message name="ITrakManService_ErecordDocument_InputMessage">
    <wsdl:part name="parameters" element="tns:ErecordDocument"/>
  </wsdl:message>
  <wsdl:message name="ITrakManService_ErecordDocument_OutputMessage">
    <wsdl:part name="parameters" element="tns:ErecordDocumentResponse"/>
  </wsdl:message>
  <wsdl:message name="ITrakManService_GetCaseDocuments_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCaseDocuments"/>
  </wsdl:message>
  <wsdl:message name="ITrakManService_GetCaseDocuments_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCaseDocumentsResponse"/>
  </wsdl:message>
  <wsdl:message name="ITrakManService_GetExtractedData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetExtractedData"/>
  </wsdl:message>
  <wsdl:message name="ITrakManService_GetExtractedData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetExtractedDataResponse"/>
  </wsdl:message>
  <wsdl:message name="ITrakManService_GetEvidenceInventory_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEvidenceInventory"/>
  </wsdl:message>
  <wsdl:message name="ITrakManService_GetEvidenceInventory_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEvidenceInventoryResponse"/>
  </wsdl:message>
  <wsdl:message name="ITrakManService_GetObjectHistory_InputMessage">
    <wsdl:part name="parameters" element="tns:GetObjectHistory"/>
  </wsdl:message>
  <wsdl:message name="ITrakManService_GetObjectHistory_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetObjectHistoryResponse"/>
  </wsdl:message>
  <wsdl:message name="ITrakManService_GetObjectLocation_InputMessage">
    <wsdl:part name="parameters" element="tns:GetObjectLocation"/>
  </wsdl:message>
  <wsdl:message name="ITrakManService_GetObjectLocation_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetObjectLocationResponse"/>
  </wsdl:message>
  <wsdl:message name="ITrakManService_ReplaceDocument_InputMessage">
    <wsdl:part name="parameters" element="tns:ReplaceDocument"/>
  </wsdl:message>
  <wsdl:message name="ITrakManService_ReplaceDocument_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReplaceDocumentResponse"/>
  </wsdl:message>
  <wsdl:message name="ITrakManService_RetentionEvent_InputMessage">
    <wsdl:part name="parameters" element="tns:RetentionEvent"/>
  </wsdl:message>
  <wsdl:message name="ITrakManService_RetentionEvent_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetentionEventResponse"/>
  </wsdl:message>
  <wsdl:message name="ITrakManService_RetrieveCaseDocuments_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveCaseDocuments"/>
  </wsdl:message>
  <wsdl:message name="ITrakManService_RetrieveCaseDocuments_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveCaseDocumentsResponse"/>
  </wsdl:message>
  <wsdl:message name="ITrakManService_RetrieveDocument_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveDocument"/>
  </wsdl:message>
  <wsdl:message name="ITrakManService_RetrieveDocument_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveDocumentResponse"/>
  </wsdl:message>
  <wsdl:message name="ITrakManService_StoreDocument_InputMessage">
    <wsdl:part name="parameters" element="tns:StoreDocument"/>
  </wsdl:message>
  <wsdl:message name="ITrakManService_StoreDocument_OutputMessage">
    <wsdl:part name="parameters" element="tns:StoreDocumentResponse"/>
  </wsdl:message>
  <wsdl:message name="ITrakManService_UpdateEdocument_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateEdocument"/>
  </wsdl:message>
  <wsdl:message name="ITrakManService_UpdateEdocument_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateEdocumentResponse"/>
  </wsdl:message>
  <wsdl:message name="ITrakManService_UpdateObject_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateObject"/>
  </wsdl:message>
  <wsdl:message name="ITrakManService_UpdateObject_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateObjectResponse"/>
  </wsdl:message>
  <wsdl:portType msc:usingSession="false" name="ITrakManService">
    <wsdl:operation name="AddRedactedDocument">
      <wsdl:input wsaw:Action="http://tempuri.org/ITrakManService/AddRedactedDocument" message="tns:ITrakManService_AddRedactedDocument_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/ITrakManService/AddRedactedDocumentResponse" message="tns:ITrakManService_AddRedactedDocument_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="CopyDocument">
      <wsdl:input wsaw:Action="http://tempuri.org/ITrakManService/CopyDocument" message="tns:ITrakManService_CopyDocument_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/ITrakManService/CopyDocumentResponse" message="tns:ITrakManService_CopyDocument_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="CopyDocuments">
      <wsdl:input wsaw:Action="http://tempuri.org/ITrakManService/CopyDocuments" message="tns:ITrakManService_CopyDocuments_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/ITrakManService/CopyDocumentsResponse" message="tns:ITrakManService_CopyDocuments_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="CreateContainerObject">
      <wsdl:input wsaw:Action="http://tempuri.org/ITrakManService/CreateContainerObject" message="tns:ITrakManService_CreateContainerObject_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/ITrakManService/CreateContainerObjectResponse" message="tns:ITrakManService_CreateContainerObject_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="DeleteContainer">
      <wsdl:input wsaw:Action="http://tempuri.org/ITrakManService/DeleteContainer" message="tns:ITrakManService_DeleteContainer_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/ITrakManService/DeleteContainerResponse" message="tns:ITrakManService_DeleteContainer_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="DeleteDocument">
      <wsdl:input wsaw:Action="http://tempuri.org/ITrakManService/DeleteDocument" message="tns:ITrakManService_DeleteDocument_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/ITrakManService/DeleteDocumentResponse" message="tns:ITrakManService_DeleteDocument_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="DeleteRedactedDocument">
      <wsdl:input wsaw:Action="http://tempuri.org/ITrakManService/DeleteRedactedDocument" message="tns:ITrakManService_DeleteRedactedDocument_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/ITrakManService/DeleteRedactedDocumentResponse" message="tns:ITrakManService_DeleteRedactedDocument_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="DocumentInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/ITrakManService/DocumentInfo" message="tns:ITrakManService_DocumentInfo_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/ITrakManService/DocumentInfoResponse" message="tns:ITrakManService_DocumentInfo_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="ErecordDocument">
      <wsdl:input wsaw:Action="http://tempuri.org/ITrakManService/ErecordDocument" message="tns:ITrakManService_ErecordDocument_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/ITrakManService/ErecordDocumentResponse" message="tns:ITrakManService_ErecordDocument_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="GetCaseDocuments">
      <wsdl:input wsaw:Action="http://tempuri.org/ITrakManService/GetCaseDocuments" message="tns:ITrakManService_GetCaseDocuments_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/ITrakManService/GetCaseDocumentsResponse" message="tns:ITrakManService_GetCaseDocuments_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="GetExtractedData">
      <wsdl:input wsaw:Action="http://tempuri.org/ITrakManService/GetExtractedData" message="tns:ITrakManService_GetExtractedData_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/ITrakManService/GetExtractedDataResponse" message="tns:ITrakManService_GetExtractedData_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="GetEvidenceInventory">
      <wsdl:input wsaw:Action="http://tempuri.org/ITrakManService/GetEvidenceInventory" message="tns:ITrakManService_GetEvidenceInventory_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/ITrakManService/GetEvidenceInventoryResponse" message="tns:ITrakManService_GetEvidenceInventory_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="GetObjectHistory">
      <wsdl:input wsaw:Action="http://tempuri.org/ITrakManService/GetObjectHistory" message="tns:ITrakManService_GetObjectHistory_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/ITrakManService/GetObjectHistoryResponse" message="tns:ITrakManService_GetObjectHistory_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="GetObjectLocation">
      <wsdl:input wsaw:Action="http://tempuri.org/ITrakManService/GetObjectLocation" message="tns:ITrakManService_GetObjectLocation_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/ITrakManService/GetObjectLocationResponse" message="tns:ITrakManService_GetObjectLocation_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="ReplaceDocument">
      <wsdl:input wsaw:Action="http://tempuri.org/ITrakManService/ReplaceDocument" message="tns:ITrakManService_ReplaceDocument_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/ITrakManService/ReplaceDocumentResponse" message="tns:ITrakManService_ReplaceDocument_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="RetentionEvent">
      <wsdl:input wsaw:Action="http://tempuri.org/ITrakManService/RetentionEvent" message="tns:ITrakManService_RetentionEvent_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/ITrakManService/RetentionEventResponse" message="tns:ITrakManService_RetentionEvent_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="RetrieveCaseDocuments">
      <wsdl:input wsaw:Action="http://tempuri.org/ITrakManService/RetrieveCaseDocuments" message="tns:ITrakManService_RetrieveCaseDocuments_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/ITrakManService/RetrieveCaseDocumentsResponse" message="tns:ITrakManService_RetrieveCaseDocuments_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="RetrieveDocument">
      <wsdl:input wsaw:Action="http://tempuri.org/ITrakManService/RetrieveDocument" message="tns:ITrakManService_RetrieveDocument_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/ITrakManService/RetrieveDocumentResponse" message="tns:ITrakManService_RetrieveDocument_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="StoreDocument">
      <wsdl:input wsaw:Action="http://tempuri.org/ITrakManService/StoreDocument" message="tns:ITrakManService_StoreDocument_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/ITrakManService/StoreDocumentResponse" message="tns:ITrakManService_StoreDocument_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="UpdateEdocument">
      <wsdl:input wsaw:Action="http://tempuri.org/ITrakManService/UpdateEdocument" message="tns:ITrakManService_UpdateEdocument_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/ITrakManService/UpdateEdocumentResponse" message="tns:ITrakManService_UpdateEdocument_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="UpdateObject">
      <wsdl:input wsaw:Action="http://tempuri.org/ITrakManService/UpdateObject" message="tns:ITrakManService_UpdateObject_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/ITrakManService/UpdateObjectResponse" message="tns:ITrakManService_UpdateObject_OutputMessage"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TrakManWebServiceWs2007HttpBinding" type="tns:ITrakManService">
    <wsp:PolicyReference URI="#TrakManWebServiceWs2007HttpBinding_policy"/>
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="AddRedactedDocument">
      <soap:operation soapAction="http://tempuri.org/ITrakManService/AddRedactedDocument" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CopyDocument">
      <soap:operation soapAction="http://tempuri.org/ITrakManService/CopyDocument" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CopyDocuments">
      <soap:operation soapAction="http://tempuri.org/ITrakManService/CopyDocuments" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateContainerObject">
      <soap:operation soapAction="http://tempuri.org/ITrakManService/CreateContainerObject" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteContainer">
      <soap:operation soapAction="http://tempuri.org/ITrakManService/DeleteContainer" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteDocument">
      <soap:operation soapAction="http://tempuri.org/ITrakManService/DeleteDocument" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteRedactedDocument">
      <soap:operation soapAction="http://tempuri.org/ITrakManService/DeleteRedactedDocument" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DocumentInfo">
      <soap:operation soapAction="http://tempuri.org/ITrakManService/DocumentInfo" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ErecordDocument">
      <soap:operation soapAction="http://tempuri.org/ITrakManService/ErecordDocument" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCaseDocuments">
      <soap:operation soapAction="http://tempuri.org/ITrakManService/GetCaseDocuments" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetExtractedData">
      <soap:operation soapAction="http://tempuri.org/ITrakManService/GetExtractedData" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEvidenceInventory">
      <soap:operation soapAction="http://tempuri.org/ITrakManService/GetEvidenceInventory" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetObjectHistory">
      <soap:operation soapAction="http://tempuri.org/ITrakManService/GetObjectHistory" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetObjectLocation">
      <soap:operation soapAction="http://tempuri.org/ITrakManService/GetObjectLocation" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReplaceDocument">
      <soap:operation soapAction="http://tempuri.org/ITrakManService/ReplaceDocument" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetentionEvent">
      <soap:operation soapAction="http://tempuri.org/ITrakManService/RetentionEvent" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveCaseDocuments">
      <soap:operation soapAction="http://tempuri.org/ITrakManService/RetrieveCaseDocuments" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveDocument">
      <soap:operation soapAction="http://tempuri.org/ITrakManService/RetrieveDocument" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StoreDocument">
      <soap:operation soapAction="http://tempuri.org/ITrakManService/StoreDocument" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateEdocument">
      <soap:operation soapAction="http://tempuri.org/ITrakManService/UpdateEdocument" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateObject">
      <soap:operation soapAction="http://tempuri.org/ITrakManService/UpdateObject" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TrakManWebService">
    <wsdl:port name="TrakManWebServiceWs2007HttpBinding" binding="tns:TrakManWebServiceWs2007HttpBinding">
      <soap:address location="https://vcp03xweb-svr.clerk.local/TrakManWebService.svc"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
