icms/etc/ElectronicServiceListService-PROD.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://www.Amcad.com/Courts/Services/ElectronicService" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:esm="http://www.Amcad.com/Courts/ElectronicService/Messages" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:vbr="http://www.vistasg.com/Common/DataContracts" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ess="http://www.Amcad.com/Courts/ElectronicService/Schemas" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ElectronicServiceListService" targetNamespace="http://www.Amcad.com/Courts/Services/ElectronicService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.Amcad.com/Courts/Services/ElectronicService">
      <xsd:element name="GetElectronicServiceListCases">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="request" type="esm:GetElectronicServiceListCasesRequestType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetElectronicServiceListCasesResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="GetElectronicServiceListCasesResult" type="esm:GetElectronicServiceListCasesResponseType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetElectronicServiceListCase">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="request" type="esm:GetElectronicServiceListCaseRequestType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetElectronicServiceListCaseResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="GetElectronicServiceListCaseResult" type="esm:GetElectronicServiceListCaseResponseType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="UpdateElectronicServiceListCase">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="request" type="esm:UpdateElectronicServiceListCaseRequestType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="UpdateElectronicServiceListCaseResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="UpdateElectronicServiceListCaseResult" type="esm:UpdateElectronicServiceListCaseResponseType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.Amcad.com/Courts/ElectronicService/Messages">
      <xsd:complexType name="GetElectronicServiceListCasesRequestType">
        <xsd:complexContent mixed="false">
          <xsd:extension base="vbr:BaseRequestType">
            <xsd:sequence>
              <xsd:element minOccurs="1" maxOccurs="1" name="FilerId" type="xsd:int" />
              <xsd:element minOccurs="0" maxOccurs="1" name="LogonName" type="xsd:string" />
              <xsd:element minOccurs="0" maxOccurs="1" name="PassWord" type="xsd:string" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="GetElectronicServiceListCasesResponseType">
        <xsd:complexContent mixed="false">
          <xsd:extension base="vbr:BaseResponseType">
            <xsd:sequence>
              <xsd:element minOccurs="0" maxOccurs="unbounded" name="CaseList" type="ess:FilerCaseListType" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="GetElectronicServiceListCaseRequestType">
        <xsd:complexContent mixed="false">
          <xsd:extension base="vbr:BaseRequestType">
            <xsd:sequence>
              <xsd:element minOccurs="0" maxOccurs="1" name="UniformCaseNumber" type="xsd:string" >
              </xsd:element>
              <xsd:element minOccurs="1" maxOccurs="1" name="CaseId" type="xsd:long" >
              </xsd:element>
              <xsd:element minOccurs="1" maxOccurs="1" name="LogonName" type="xsd:string" >
                <xsd:annotation>
                  <xsd:documentation>Portal User Name for authentication</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element minOccurs="1" maxOccurs="1" name="PassWord" type="xsd:string" >
                <xsd:annotation>
                  <xsd:documentation>Portal Password for authentication</xsd:documentation>
                </xsd:annotation>
              </xsd:element>

            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="GetElectronicServiceListCaseResponseType">
        <xsd:complexContent mixed="false">
          <xsd:extension base="vbr:BaseResponseType">
            <xsd:sequence>
              <xsd:element minOccurs="0" maxOccurs="1" name="ElectronicServiceListCase" type="ess:CaseType" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="UpdateElectronicServiceListCaseRequestType">
        <xsd:complexContent mixed="false">
          <xsd:extension base="vbr:BaseRequestType">
            <xsd:sequence>
              <xsd:element minOccurs="1" maxOccurs="1" name="ElectronicServiceListCase" type="ess:CaseType" >
                <xsd:annotation>
                  <xsd:documentation>Service List to update</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element minOccurs="1" maxOccurs="1" name="LogonName" type="xsd:string" >
                <xsd:annotation>
                  <xsd:documentation>Portal User Name for authentication</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element minOccurs="1" maxOccurs="1" name="PassWord" type="xsd:string" >
                <xsd:annotation>
                  <xsd:documentation>Portal Password for authentication</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="UpdateElectronicServiceListCaseResponseType">
        <xsd:complexContent mixed="false">
          <xsd:extension base="vbr:BaseResponseType" />
        </xsd:complexContent>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.vistasg.com/Common/DataContracts">
      <xsd:complexType name="BaseRequestType">
        <xsd:annotation>
          <xsd:appinfo>
            <keepNamespaceDeclarations>namespaces</keepNamespaceDeclarations>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="ApplicationID" type="xsd:string" >
            <xsd:annotation>
              <xsd:documentation>Application Identifier. Optional.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" maxOccurs="1" name="ApplicationName" type="xsd:string" >
            <xsd:annotation>
              <xsd:documentation>Application Identifier. Optional.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="1" maxOccurs="1" name="UserID" type="xsd:int" >
            <xsd:annotation>
              <xsd:documentation>Portal User ID. Optional. Default to 0. Derived from LogonName , Password</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="1" maxOccurs="1" name="RequestTime" type="xsd:dateTime" >
            <xsd:annotation>
              <xsd:documentation>Time Stamp. </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" maxOccurs="1" name="ClientIP" type="xsd:string" >
            <xsd:annotation>
              <xsd:documentation>Client IP. Optional</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="1" maxOccurs="1" name="UserOrganizationID_x0020_" type="xsd:int" >
            <xsd:annotation>
              <xsd:documentation>Portal User Organization ID. Optional. Default to 0. Derived from LogonName , Password</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="BaseResponseType">
        <xsd:annotation>
          <xsd:appinfo>
            <keepNamespaceDeclarations>namespaces</keepNamespaceDeclarations>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="Errors" type="xsd:string" >
            <xsd:annotation>
              <xsd:documentation>Errors</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="Warnings" type="xsd:string" >
            <xsd:annotation>
              <xsd:documentation>Warnings</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="1" maxOccurs="1" name="OperationSuccessful" type="xsd:boolean" >
            <xsd:annotation>
              <xsd:documentation>true - operation completed successfully. false otherwise. OperationSuccessful will be true even if there are warnings or no matching data found </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="1" maxOccurs="1" name="ResponseTime" type="xsd:dateTime" >
            <xsd:annotation>
              <xsd:documentation>Timestamp</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.Amcad.com/Courts/ElectronicService/Schemas">
      <xsd:complexType name="FilerCaseListType">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="Id" type="xsd:long" >
            <xsd:annotation>
              <xsd:documentation>Unique System Assigned ID. This is the Primary key.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="1" maxOccurs="1" name="UniformCaseNumber" type="xsd:string" >
            <xsd:annotation>
              <xsd:documentation>Uniform Case Number. Also has a unique index</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="1" maxOccurs="1" name="ClerkCaseNumber" type="xsd:string" >
            <xsd:annotation>
              <xsd:documentation>Clerk Case Number.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="1" maxOccurs="1" name="CreationDate" type="xsd:dateTime" >
            <xsd:annotation>
              <xsd:documentation>Date when Service List entry is first created.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="1" maxOccurs="1" name="OrganizationId" type="xsd:int" >
            <xsd:annotation>
              <xsd:documentation>Portal Organization Id. For Trial Courts , this is the same CCIS county number </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="1" maxOccurs="1" name="Organization" type="xsd:string" >
            <xsd:annotation>
              <xsd:documentation>Organziation Name.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" maxOccurs="1" name="CaseStyle" type="xsd:string" >
            <xsd:annotation>
              <xsd:documentation>Case Style (AKA Name).</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" maxOccurs="1" name="CaseType" type="xsd:string" >
            <xsd:annotation>
              <xsd:documentation>Human Redable Case Type. Currently Not used</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" maxOccurs="1" name="Remarks" type="xsd:string" >
            <xsd:annotation>
              <xsd:documentation>Remarks. Currently Not used</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="1" maxOccurs="1" name="Active" type="xsd:boolean" >
            <xsd:annotation>
              <xsd:documentation>Always true</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="CaseType">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="Id" type="xsd:long" >
            <xsd:annotation>
              <xsd:documentation>Unique System Assigned ID. This is the Primary key.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="1" maxOccurs="1" name="UniformCaseNumber" type="xsd:string" >
            <xsd:annotation>
              <xsd:documentation>Uniform Case Number. Also has a unique index</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="1" maxOccurs="1" name="ClerkCaseNumber" type="xsd:string" >
            <xsd:annotation>
              <xsd:documentation>Clerk Case Number.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="1" maxOccurs="1" name="CreationDate" type="xsd:dateTime" >
            <xsd:annotation>
              <xsd:documentation>Date when Service List entry is first created.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="1" maxOccurs="1" name="OrganizationId" type="xsd:int" >
            <xsd:annotation>
              <xsd:documentation>Portal Organization Id. For Trial Courts , this is the same CCIS county number </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="1" maxOccurs="1" name="Organization" type="xsd:string" >
            <xsd:annotation>
              <xsd:documentation>Organziation Name.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="1" maxOccurs="1" name="LastUpdatedUserId" type="xsd:int" >
            <xsd:annotation>
              <xsd:documentation>Last Updated Portal User Id .</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="1" maxOccurs="1" name="LastUpdatedUser" type="xsd:string" >
            <xsd:annotation>
              <xsd:documentation>Last Updated User.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="1" maxOccurs="1" name="LastUpdatedTime" type="xsd:dateTime" >
            <xsd:annotation>
              <xsd:documentation>Last Updated Time.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="1" maxOccurs="1" name="CaseStyle" type="xsd:string" >
            <xsd:annotation>
              <xsd:documentation>Case Style (AKA Name).</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" maxOccurs="1" name="CaseTypeDescription" type="xsd:string" >
            <xsd:annotation>
              <xsd:documentation>Human Redable Case Type. Currently Not used</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" maxOccurs="1" name="Remarks" type="xsd:string" >
            <xsd:annotation>
              <xsd:documentation>Remarks. Currently Not used</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="Filers" type="ess:FilerType" >
            <xsd:annotation>
              <xsd:documentation>List of Portal users that filed into this case and any other names , email addresses associated with the filer for this case </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="Filings" type="ess:FilingType" >
            <xsd:annotation>
              <xsd:documentation>List of Filings.Currently Not used  </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="FilerType">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="EPortalUserId" type="xsd:int" >
            <xsd:annotation>
              <xsd:documentation>Portal User Id of the filer that filed into this case . </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="1" maxOccurs="1" name="Name" type="xsd:string" >
            <xsd:annotation>
              <xsd:documentation>Filer Name .</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="1" maxOccurs="1" name="UseProfileInformationForService" type="xsd:boolean" >
            <xsd:annotation>
              <xsd:documentation>Using Filers Profile email addresses for Service. Current Profile Email addresses are listed under PrimaryEmailAddress , AlternateEmailAddress1 and AlternateEmailAddress2</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="1" maxOccurs="1" name="Active" type="xsd:boolean" >
            <xsd:annotation>
              <xsd:documentation>true- Filer is accepting service on this case. false - filer is no longer accepting service on this case </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="1" maxOccurs="1" name="PrimaryEmailAddress" type="xsd:string" >
            <xsd:annotation>
              <xsd:documentation>Primary Email Address</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" maxOccurs="1" name="AlternateEmailAddress1" type="xsd:string" >
            <xsd:annotation>
              <xsd:documentation>First Alternate Email Address</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" maxOccurs="1" name="AlternateEmailAddress2" type="xsd:string" >
            <xsd:annotation>
              <xsd:documentation>Second Alternate Email Address</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="1" maxOccurs="1" name="LastUpdatedUserId" type="xsd:int" >
            <xsd:annotation>
              <xsd:documentation>Last Updated Portal User Id .</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="1" maxOccurs="1" name="LastUpdatedUser" type="xsd:string" >
            <xsd:annotation>
              <xsd:documentation>Last Updated User.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="1" maxOccurs="1" name="LastUpdatedTime" type="xsd:dateTime" >
            <xsd:annotation>
              <xsd:documentation>Last Updated Time.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="OtherServiceRecipients" type="ess:OtherServiceRecipientType" >
            <xsd:annotation>
              <xsd:documentation>Other names , email addresses associated with the filer for this case .</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
	<xsd:element minOccurs="1" maxOccurs="1" name="ShowOnMyCases" type="xsd:boolean"/>
	<xsd:element minOccurs="0" maxOccurs="1" name="BarNumber" type="xsd:string"/>
    <xsd:element minOccurs="1" maxOccurs="1" name="UserTypeCode" type="xsd:int"/>
	<xsd:element minOccurs="1" maxOccurs="1" name="UserType" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="OtherServiceRecipientType">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="SequenceNumber" type="xsd:int" >
            <xsd:annotation>
              <xsd:documentation>Sequence Number . System Assigned </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="1" maxOccurs="1" name="EPortalUserId" type="xsd:int" >
            <xsd:annotation>
              <xsd:documentation>Portal User Id of the filer that filed into this case. If the person is not registered at the portal then this value will be -1 </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="1" maxOccurs="1" name="Name" type="xsd:string" >
            <xsd:annotation>
              <xsd:documentation>Name</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="1" maxOccurs="1" name="UseProfileInformationForService" type="xsd:boolean" >
            <xsd:annotation>
              <xsd:documentation>Using Filers Profile email addresses for Service. Current Profile Email addresses are listed under PrimaryEmailAddress , AlternateEmailAddress1 and AlternateEmailAddress2. if the person is not registered at the portal , this value will be false</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="1" maxOccurs="1" name="PrimaryEmailAddress" type="xsd:string" >
            <xsd:annotation>
              <xsd:documentation>Primary Email Address</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" maxOccurs="1" name="AlternateEmailAddress1" type="xsd:string" >
            <xsd:annotation>
              <xsd:documentation>First Alternate Email Address</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" maxOccurs="1" name="AlternateEmailAddress2" type="xsd:string" >
            <xsd:annotation>
              <xsd:documentation>Second Alternate Email Address</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="1" maxOccurs="1" name="LastUpdatedUserId" type="xsd:int" >
            <xsd:annotation>
              <xsd:documentation>Last Updated Portal User Id .</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="1" maxOccurs="1" name="LastUpdatedUser" type="xsd:string" >
            <xsd:annotation>
              <xsd:documentation>Last Updated User.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="1" maxOccurs="1" name="LastUpdatedTime" type="xsd:dateTime" >
            <xsd:annotation>
              <xsd:documentation>Last Updated Time.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
	<xsd:element minOccurs="0" maxOccurs="1" name="BarNumber" type="xsd:string"/>

        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="FilingType">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="FilingId" type="xsd:long" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ElectronicServicePort_GetElectronicServiceListCases_InputMessage">
    <wsdl:part name="parameters" element="tns:GetElectronicServiceListCases" />
  </wsdl:message>
  <wsdl:message name="ElectronicServicePort_GetElectronicServiceListCases_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetElectronicServiceListCasesResponse" />
  </wsdl:message>
  <wsdl:message name="ElectronicServicePort_GetElectronicServiceListCase_InputMessage">
    <wsdl:part name="parameters" element="tns:GetElectronicServiceListCase" />
  </wsdl:message>
  <wsdl:message name="ElectronicServicePort_GetElectronicServiceListCase_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetElectronicServiceListCaseResponse" />
  </wsdl:message>
  <wsdl:message name="ElectronicServicePort_UpdateElectronicServiceListCase_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateElectronicServiceListCase" />
  </wsdl:message>
  <wsdl:message name="ElectronicServicePort_UpdateElectronicServiceListCase_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateElectronicServiceListCaseResponse" />
  </wsdl:message>
  <wsdl:portType name="ElectronicServicePort">
    <wsdl:operation name="GetElectronicServiceListCases">
      <wsdl:input wsaw:Action="http://www.Amcad.com/Courts/Services/ElectronicService/ElectronicServicePort/GetElectronicServiceListCases" message="tns:ElectronicServicePort_GetElectronicServiceListCases_InputMessage" />
      <wsdl:output wsaw:Action="http://www.Amcad.com/Courts/Services/ElectronicService/ElectronicServicePort/GetElectronicServiceListCasesResponse" message="tns:ElectronicServicePort_GetElectronicServiceListCases_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetElectronicServiceListCase">
      <wsdl:input wsaw:Action="http://www.Amcad.com/Courts/Services/ElectronicService/ElectronicServicePort/GetElectronicServiceListCase" message="tns:ElectronicServicePort_GetElectronicServiceListCase_InputMessage" />
      <wsdl:output wsaw:Action="http://www.Amcad.com/Courts/Services/ElectronicService/ElectronicServicePort/GetElectronicServiceListCaseResponse" message="tns:ElectronicServicePort_GetElectronicServiceListCase_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateElectronicServiceListCase">
      <wsdl:input wsaw:Action="http://www.Amcad.com/Courts/Services/ElectronicService/ElectronicServicePort/UpdateElectronicServiceListCase" message="tns:ElectronicServicePort_UpdateElectronicServiceListCase_InputMessage" />
      <wsdl:output wsaw:Action="http://www.Amcad.com/Courts/Services/ElectronicService/ElectronicServicePort/UpdateElectronicServiceListCaseResponse" message="tns:ElectronicServicePort_UpdateElectronicServiceListCase_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ElectronicServicePortSOAPBinding" type="tns:ElectronicServicePort">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetElectronicServiceListCases">
      <soap:operation soapAction="http://www.Amcad.com/Courts/Services/ElectronicService/ElectronicServicePort/GetElectronicServiceListCases" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetElectronicServiceListCase">
      <soap:operation soapAction="http://www.Amcad.com/Courts/Services/ElectronicService/ElectronicServicePort/GetElectronicServiceListCase" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateElectronicServiceListCase">
      <soap:operation soapAction="http://www.Amcad.com/Courts/Services/ElectronicService/ElectronicServicePort/UpdateElectronicServiceListCase" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ElectronicServiceListService">
    <wsdl:port name="ElectronicServicePortSOAPBinding" binding="tns:ElectronicServicePortSOAPBinding">
      <soap:address location="https://www.myflcourtaccess.com/eservicelist/Proxy.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>